extends ../../layouts/default

block flash-messages
	//- intentionally blank

block content
	.container-xs
		.page-intro
			h1 meetup.tidev.kr 로그인
			//- messages.push('tidev.kr 포럼 회원이어도 별도의 가입이 필요합니다.');
			+flash-messages(messages)
		.page-content
			+auth-forms({ modal: false, initial: 'signin' })

block js
	script.
		jQuery(function($) {
			$('.auth-form').find('.form-control').eq(0).focus().select();
		});
