//- SITE FOOTER
footer.site-footer.site-footer--sticky: .container
	.row
		.col-sm-12
			h5.footer-heading About
			p 한국 타이타늄 사용자 모임인 tidev.kr은 Javascript를 기반으로 하는 크로스 플랫폼 모바일 개발 플랫폼인 타이타늄을 사용하는 개발자 모임입니다.
			ul.list-inline
				li: a(href='/about') More about tidev.kr
				li: a(href='mailto:master@tidev.kr') Contact us

		//- .col-sm-8
			.row
				.col-xs-4
					h5.footer-heading Members
					ul
						li: a(href='/members') Members
						li: a(href='/mentoring') Mentoring
						li: a(href='/members/mentors') Mentors
						if !user
							li: a(href='/join').js-auth-trigger Become a Member
				.col-xs-4
					h5.footer-heading Resources
					ul
						li: a(href='/organisations') Organisations
						li: a(href='/links') Links
						li: a(href='/blog') Blog
						li: a(href='/showbag') Showbag
				.col-xs-4
					h5.footer-heading Sponsors
					ul: each sponsor in sponsors
						li: a(href='/organisations#' + sponsor.id)= sponsor.name
	.row.footer-copyright
		p tidev.kr에 의해 작성된 내용은 <a href="http://creativecommons.org/licenses/by/2.0/kr/", target='_blank'>크리에이티브 커먼즈 저작자표시 2.0 대한민국 라이선스</a>에 따라 이용할 수 있습니다.
		p Meetup 페이지를 운영하고 싶으신가요? 이 사이트는 <a href='http://keystonejs.com', target='_blank'>KeystoneJS</a>기반으로 만들어진 <a href="https://github.com/JedWatson/sydjs-site", target='_blank'>SydJS</a>를 fork해서 만들었습니다. <a href="https://github.com/yomybaby/tidev-kr-meetup-site", target='_blank'>GitHub에 공개되어 있습니다.</a>.
