extends ../../layouts/default

include ../../mixins/organiser

block intro
	.page-intro: .container
		h1.page-title About
		p.lead 한국 타이타늄 사용자 모임(tidev.kr)은 JavaScript로 Native 모바일 앱을 만드는 타이타늄(<a href='http://www.appcelerator.org/#titanium', target='_blank'>Titanium</a>) 프레임워크를 사용하는 개발자 모임입니다.
		//- p.lead SydJS wouldn't be possible without our organisers:

block content
	.page-content
		.section.highlight: .container
			//- h2 Organisers
			//- p.lead Each month the SydJS team works to bring you great presenters in a great venue.
			.row.about-organisers
				.col-sm-12
					p(style="text-align:center;") 한국 타이타늄 사용자 모임은 <a href="http://tidev.kr", target="_blank">포럼</a>과 <a href="http://fb.tidev.kr", target="_blank">페이스북 그룹</a>을 운영중입니다.
				//- each org in organisers
					.col-sm-3
						+organiser(org)
			
		
		//- CODE
		.section: .container-sm
			h2 JavaScript & Titanium
			h5 JavaScript는 브라우저를 탈출하고 하나의 생태계를 이루었습니다.
			p 브라우저에서 Dom만을 다루던 JavaScript가 Node.js를 중심으로 다양한 분야에서 사용되고 있습니. 브라우저에만 같혀있던 우물안 개구리 같은 JavaScript는 이제 더이상 무시하지 못할 하나의 언어가 되었습니다.
			h5 Titanium은 JavaScript로 Native앱을 만드는 최초의 플랫폼입니다.
			p Titanium은 얼마전까지만 해도 유일한 JavaScript로 Native앱을 만드는 프레임워크였습니다. 최근 Facebook의 React Native, Teleick의 Native Script 등 JavaScript로 Natvie 앱을 만들 수 있는 다양한 프레임워크가 소개되었습니다. 이제 다양한 경쟁상대가 생긴 만큼 JavaScript로 Native앱을 만드는 프레임워크는 더욱 성장할 것으로 기대됩니다.

			hr.mv-3
			h5 Thank you
			p tidev.kr은 개발자들에 의해 운영되는 순수 커뮤니티입니다. 함께 커뮤니티를 만들어오고 만들어갈 모든 개발자 분들에게 감사합니다.

block js
	// twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
