extends ../../layouts/default

include ../../mixins/meetup

block content
	.container-sm
		.page-intro.text-left
			a(href='/meetups').text-muted &larr; Meetup 리스트로 이동
		.page-content
			+meetup(meetup)
